# For direnv use

# Load the root .envrc
source_up ../.envrc

export WORKSPACE=dev
export SHARED_RESOURCES_WORKSPACE=dev
export BACKEND_IMAGE_TAG=latest
export FRONTEND_IMAGE_TAG=latest

# AWS_* values loaded from .envrc
export TF_VAR_aws_access_key_id=$AWS_ACCESS_KEY_ID
export TF_VAR_aws_secret_access_key=$AWS_SECRET_ACCESS_KEY
