/* Medium */
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: local("Roboto Medium"),
         local("Roboto-Medium"),
         url("~typeface-roboto/files/roboto-latin-500.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-500.woff") format("woff");
}

/* Medium Italic */
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    font-display: auto;
    src: local("Roboto Medium Italic"),
         local("Roboto-MediumItalic"),
         url("~typeface-roboto/files/roboto-latin-500italic.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-500italic.woff") format("woff");
}
