/* Bold */
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: local("Roboto Bold"),
         local("Roboto-Bold"),
         url("~typeface-roboto/files/roboto-latin-700.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-700.woff") format("woff");
}

/* Bold Italic */
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
    font-display: auto;
    src: local("Roboto Bold Italic"),
         local("Roboto-BoldItalic"),
         url("~typeface-roboto/files/roboto-latin-700italic.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-700italic.woff") format("woff");
}
