/* Roboto Condensed Light */
@font-face {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    src: local("Roboto Condensed Light"),
         local("RobotoCondensed-Light"),
         url("~typeface-roboto-condensed/files/roboto-condensed-latin-300.woff2") format("woff2"),
         url("~typeface-roboto-condensed/files/roboto-condensed-latin-300.woff") format("woff");
}

/* Roboto Condensed Light Italic */
@font-face {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-style: italic;
    font-display: auto;
    src: local("Roboto Condensed Light Italic"),
         local("RobotoCondensed-LightItalic"),
         url("~typeface-roboto-condensed/files/roboto-condensed-latin-300italic.woff2") format("woff2"),
         url("~typeface-roboto-condensed/files/roboto-condensed-latin-300italic.woff") format("woff");
}
