/* Roboto Slab Thin */
@font-face {
    font-family: "Roboto Slab";
    font-weight: 100;
    font-style: normal;
    font-display: auto;
    src: local("Roboto Slab Thin"),
         local("RobotoSlab-Thin"),
         url("~typeface-roboto-slab/files/roboto-slab-latin-100.woff2") format("woff2"),
         url("~typeface-roboto-slab/files/roboto-slab-latin-100.woff") format("woff");
}
