/* Roboto Slab Regular */
@font-face {
    font-family: "Roboto Slab";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("Roboto Slab Regular"),
         local("RobotoSlab-Regular"),
         url("~typeface-roboto-slab/files/roboto-slab-latin-400.woff2") format("woff2"),
         url("~typeface-roboto-slab/files/roboto-slab-latin-400.woff") format("woff");
}
