/* Regular */
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: local("Roboto Regular"),
         local("Roboto-Regular"),
         url("~typeface-roboto/files/roboto-latin-400.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-400.woff") format("woff");
}

/* Regular Italic */
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    font-display: auto;
    src: local("Roboto Regular Italic"),
         local("Roboto-RegularItalic"),
         url("~typeface-roboto/files/roboto-latin-400italic.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-400italic.woff") format("woff");
}
