/* Light */
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    src: local("Roboto Light"),
         local("Roboto-Light"),
         url("~typeface-roboto/files/roboto-latin-300.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-300.woff") format("woff");
}

/* Light Italic */
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    font-display: auto;
    src: local("Roboto Light Italic"),
         local("Roboto-LightItalic"),
         url("~typeface-roboto/files/roboto-latin-300italic.woff2") format("woff2"),
         url("~typeface-roboto/files/roboto-latin-300italic.woff") format("woff");
}
